<p><%= t ".hello" %> <%= @resource.email %>!</p>

<p><%= t ".reset_password" %></p>

<p><%= link_to t(".link_reset"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".text_reset_password" %></p>
<p><%= t ".text_instructions_reset" %></p>
